In [34]:
import sqlite3
import pandas as pd

# Connect to the database
# If the database does not exist, it will be created
connect = sqlite3.connect('kunskaps_databas.db')

# Create a cursor object to execute sql queries
cursor = connect.cursor()

# Drop the 'people' table (this is for emptying the table)
cursor.execute('DROP TABLE IF EXISTS people')

# Create a table with columns: Name, Age, City
# The ID column is a primary key and auto increments
# The primary key is a unique identifier for each row in the table
cursor.execute('''
    CREATE TABLE IF NOT EXISTS people (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT  NULL,
    age INTEGER NULL,
    city TEXT NULL
)
 ''')

# displaying the table
data_view = pd.read_sql_query('SELECT * FROM people', connect)
print(data_view)

# Commit changes and close connection
connect.commit()
connect.close()

Empty DataFrame
Columns: [id, name, age, city]
Index: []

The code down below is the initial code for the task of running it automatically in a scheduler.

In [9]:
import sqlite3
import pandas as pd

df = pd.read_csv('kunskapskontroll_2_1.csv')

connect = sqlite3.connect('kunskaps_databas.db')

cursor = connect.cursor()


for index, row in df.iterrows():
    cursor.execute(''' 
    SELECT COUNT(*) FROM people WHERE name = ?;
    ''', (row['name'],))
    
    name_exists = cursor.fetchone()[0]

    if name_exists:

        cursor.execute(''' 
        UPDATE people
        SET age = ?, city = ?
        WHERE name = ?;
        ''', (row['age'], row['city'], row['name']) )
    else:
        cursor.execute('''
        INSERT INTO people (name, age, city)
        VALUES(?, ? ,?);
        ''',(row['name'], row['age'], row['city']))


data_view = pd.read_sql_query('SELECT * FROM people', connect)

print(data_view)

connect.commit()
connect.close()

print('Table updated successfully')

    id                  name  age                 city
0    1            Patrick Ho   77       Port Sarahstad
1    2         Walter Conway   61  North Donaldborough
2    3         Richard Moody   55     Lake Thomasmouth
3    4  Mrs. Allison Spencer   74            Jacobfort
4    5             Amy Mason   74          Oliverburgh
5    6        Jennifer Nolan   69         Lake Melissa
6    7          Sheila Stone   60          Williamport
7    8            Joel James   67            New Ethan
8    9        Heather Pineda   32         Johnsonshire
9   10        Colton Carlson   45          Ericchester
10  11       William Hoffman   18        North Cynthia
11  12           James Walls   76         Martinezstad
12  13    Benjamin Contreras   54        East Nicholas
13  14         Brian Serrano   61          Williamport
14  15             Tami Ward   69      New Laurenville
15  16            Adam Quinn   40          South James
16  17          Eric Clayton   25             Rothland
17  18      Jeffrey Crawford   44     North Philipstad
18  19        Jessica Taylor   50         Michaelmouth
19  20           Alicia Bell   19         Kimberlyberg
Table updated successfully